extends layout

block content
  .row.justify-content-center
    .col-md-6
      .card
        .card-header.text-center
          h3 Accedi
        .card-body
          form(action='/login' method='POST')
            .mb-3
              label.form-label(for='username') Nome utente
              input#username.form-control(type='text' name='username' placeholder='Inserisci il tuo nome utente' required)
            .mb-3
              label.form-label(for='password') Password
              input#password.form-control(type='password' name='password' placeholder='Inserisci la tua password' required)
            .d-grid.gap-2
              button.btn.btn-primary(type='submit') Accedi
            .mt-3.text-center
              p Non hai un account? 
                a(href='/register') Registrati qui